.footer {
  padding-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00233A;
  text-align: center;
}

footer > p{
  margin-top: 15px;
  margin-bottom: 15px;
  
}