.title{
    background-color:black;
}

.card {
    background-color: black;
    /* height: 600px; */
    padding: 20px;
    /* width: 600px */
}
.card-img-top-card {
background-image: url(https://via.placeholder.com/150);
height: 200px;

}