

.card {
    /* display: flex; */
    /* background-color: black; */
    /* height: 600px; */
    padding: 0px;
    /* width: 600px */
}
/* .card-img-top-Cardcard {
background-image: url(https://via.placeholder.com/150);
height: 100px;

} */
